# Sqlite3 Tutorial

## Import Package

In [50]:
import sqlite3

## Create Database & Start Connection

In [51]:
# Connect to SQLite database (or create it if it doesn't exist)
con = sqlite3.connect('tutorial.db')

# `cur` is the cursor object that allows us to execute SQL commands
cur = con.cursor()

## Create Table

In [52]:
# Generate a table called movie
cur.execute("CREATE TABLE movie(title, year, score)")

OperationalError: table movie already exists

## Verfiy Table Creation

In [ ]:
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()

('movie',)

In [ ]:
# Check if random table 'spam' exists (should return True)
res = cur.execute("SELECT name from sqlite_master WHERE name ='spam'")
print(res.fetchone() is None)

# Check if the 'movie' table exists (should return False since output should not be None)
res = cur.execute("SELECT name from sqlite_master WHERE name ='movie'")
print(res.fetchone() is None)

True
False

## Insert Into Table

In [ ]:
cur.execute("""
INSERT INTO movie VALUES
    ('Monty Python and the Holy Grail', 1975, 8.2),
    ('And Now for Something Completely Different', 1971, 7.5)
""")

# This is always required after any operation that modifies the database
con.commit()

### Check Table Output

In [ ]:
cur.execute("SELECT * FROM movie")
cur.fetchall()

[('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5)]

# Insert More Rows via. Variable

In [ ]:
data = [
    ("Monty Python Live at teh Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0)
]

# Notice that ? placeholders are used to bind data to the query. 
# Always use placeholders instead of string formatting to bind Python values to SQL statements, to avoid SQL injection attacks (see How to use placeholders to bind values in SQL queries for more details).

cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)
con.commit() # Commit the changes

## Verify New Rows

In [ ]:
rows = cur.execute("SELECT * FROM movie ORDER BY year")
for row in rows:
    print(row)

('And Now for Something Completely Different', 1971, 7.5)
('Monty Python and the Holy Grail', 1975, 8.2)
("Monty Python's Life of Brian", 1979, 8.0)
('Monty Python Live at teh Hollywood Bowl', 1982, 7.9)
("Monty Python's The Meaning of Life", 1983, 7.5)

# Close Connection to Database

In [ ]:
con.close()

# Open New Connection and Query the Database

In [ ]:
new_con = sqlite3.connect('tutorial.db')
new_cur = new_con.cursor()

res = new_cur.execute("SELECT title, year from movie ORDER BY year DESC")

#Fetch one row
print("Fetching one row using fetchone()")
res.fetchone()

#Fetch all rows
# print("\nFetching all rows using fetchall()")
# print(res.fetchall())

Fetching one row using fetchone()

("Monty Python's The Meaning of Life", 1983)

## Unpack Results from Query and Print

In [ ]:
# res = new_cur.execute("SELECT title, year from movie ORDER BY year DESC")

title, year = res.fetchone()
print(f"{title} was released in {year}")

Monty Python Live at teh Hollywood Bowl was released in 1982

In [ ]:
# Unpack Results from Query and Print
res = new_cur.execute("SELECT title, year from movie ORDER BY year DESC")
for title, year in res.fetchall():
    print(f"{title} was released in {year}")

Monty Python's The Meaning of Life was released in 1983
Monty Python Live at teh Hollywood Bowl was released in 1982
Monty Python's Life of Brian was released in 1979
Monty Python and the Holy Grail was released in 1975
And Now for Something Completely Different was released in 1971