# <b> NYCOpenData Collsion Data Analysis <b>
<hr>

## Install Requirements

In [1]:
import datetime as dt
import requests
import numpy as np
import pandas as pd

from pandas.api.types import is_datetime64_any_dtype

## Fetch NYCOpenData API

### Create Empty Dataframe

In [2]:
# Heaeders from source: https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95/about_data
collision_data_headers = [
    'crash_date', 'crash_time', 'borough', 'zip_code', 'latitude', 'longitude',
    'location', 'on_street_name', 'off_street_name', 'cross_street_name',
    'number_of_persons_injured', 'number_of_persons_killed',
    'number_of_pedestrians_injured', 'number_of_pedestrians_killed',
    'number_of_cyclist_injured', 'number_of_cyclist_killed',
    'number_of_motorist_injured', 'number_of_motorist_killed',
    'contributing_factor_vehicle_1', 'contributing_factor_vehicle_2',
    'contributing_factor_vehicle_3', 'contributing_factor_vehicle_4',
    'contributing_factor_vehicle_5', 'collision_id', 'vehicle_type_code1',
    'vehicle_type_code2', 'vehicle_type_code_3', 'vehicle_type_code_4',
    'vehicle_type_code_5'
]

# Create empty DataFrame with headers
collision_data = pd.DataFrame(columns=collision_data_headers)

### Fetch Data

In [ ]:
num_of_records = 100 # number of records per API fetch
starting_page = 0
ending_page = 100

while True:
    try:
        print(f"\n--------------------\nCalling URL with 'offset' or records {starting_page} to {ending_page}, with record per call size of {num_of_records}")
        response = requests.get(f'https://data.cityofnewyork.us/resource/h9gi-nx95.json?$limit={num_of_records}&$offset={ending_page}')

        if response.status_code == 200:
            print("Response: ", response.status_code)
            data = pd.DataFrame(response.json())

            if not data.empty:
                collision_data = pd.concat([collision_data, data], ignore_index=True)
                print(f"✅ Fetched {len(data)} records, total records so far: {len(collision_data)}")
                starting_page = ending_page
                ending_page += 100

                # COMMENT OUT IF IN PRODUCTION
                if starting_page >= 500:
                    print("Reached Temporary Limit of 500 records.")
                    break

            if data.empty:
                print("No more data to fetch.")
                break

    except Exception as e:
        print("An error occured: ", e)

--------------------
Calling URL with 'offset' or records 0 to 100, with record per call size of 100
Response:  200
✅ Fetched 100 records, total records so far: 100

--------------------
Calling URL with 'offset' or records 100 to 200, with record per call size of 100
Response:  200
✅ Fetched 100 records, total records so far: 200

--------------------
Calling URL with 'offset' or records 200 to 300, with record per call size of 100
Response:  200
✅ Fetched 100 records, total records so far: 300

--------------------
Calling URL with 'offset' or records 300 to 400, with record per call size of 100
Response:  200
✅ Fetched 100 records, total records so far: 400

--------------------
Calling URL with 'offset' or records 400 to 500, with record per call size of 100
Response:  200
✅ Fetched 100 records, total records so far: 500
Reached Temporary Limit of 500 records.

### Create File for RAW Output and Copy For Analysis

In [4]:
# Raw NYCOpendata Output
collision_data.to_csv('RAW_collision_data.csv')

# For Analysis
collision_df = collision_data.copy()

<hr>

## EDA, Cleaning & Preparing for Analytics

### Schema Info & Preview Data

In [5]:
collision_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   crash_date                     500 non-null    object
 1   crash_time                     500 non-null    object
 2   borough                        334 non-null    object
 3   zip_code                       333 non-null    object
 4   latitude                       471 non-null    object
 5   longitude                      471 non-null    object
 6   location                       471 non-null    object
 7   on_street_name                 361 non-null    object
 8   off_street_name                224 non-null    object
 9   cross_street_name              139 non-null    object
 10  number_of_persons_injured      500 non-null    object
 11  number_of_persons_killed       500 non-null    object
 12  number_of_pedestrians_injured  500 non-null    object
 13  number_of_pedestrians_killed   500 non-null    object
 14  number_of_cyclist_injured      500 non-null    object
 15  number_of_cyclist_killed       500 non-null    object
 16  number_of_motorist_injured     500 non-null    object
 17  number_of_motorist_killed      500 non-null    object
 18  contributing_factor_vehicle_1  498 non-null    object
 19  contributing_factor_vehicle_2  390 non-null    object
 20  contributing_factor_vehicle_3  60 non-null     object
 21  contributing_factor_vehicle_4  13 non-null     object
 22  contributing_factor_vehicle_5  4 non-null      object
 23  collision_id                   500 non-null    object
 24  vehicle_type_code1             492 non-null    object
 25  vehicle_type_code2             336 non-null    object
 26  vehicle_type_code_3            53 non-null     object
 27  vehicle_type_code_4            12 non-null     object
 28  vehicle_type_code_5            3 non-null      object
dtypes: object(29)
memory usage: 113.4+ KB

In [6]:
collision_df.head()

,crash_date,crash_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2021-12-10T00:00:00.000,1:10,NaN,NaN,40.662575,-73.93448,"{'latitude': '40.662575', 'longitude': '-73.93...",SCHENECTADY AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4485706,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
1,2021-12-09T00:00:00.000,0:00,NaN,NaN,40.7448,-73.953415,"{'latitude': '40.7448', 'longitude': '-73.9534...",47 ROAD,NaN,NaN,...,NaN,NaN,NaN,NaN,4485384,Sedan,NaN,NaN,NaN,NaN
2,2021-12-08T00:00:00.000,18:36,NaN,NaN,40.79672,-73.97618,"{'latitude': '40.79672', 'longitude': '-73.976...",HENRY HUDSON PARKWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4484799,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
3,2021-12-09T00:00:00.000,20:30,QUEENS,11004,40.752777,-73.70743,"{'latitude': '40.752777', 'longitude': '-73.70...",NaN,NaN,269-01 76 AVENUE,...,NaN,NaN,NaN,NaN,4485077,Sedan,NaN,NaN,NaN,NaN
4,2021-12-09T00:00:00.000,10:13,BROOKLYN,11203,40.638523,-73.92607,"{'latitude': '40.638523', 'longitude': '-73.92...",KINGS HIGHWAY,FARRAGUT ROAD,NaN,...,Traffic Control Disregarded,NaN,NaN,NaN,4485090,Sedan,Sedan,NaN,NaN,NaN

### Check & Correct Duplicate Records - `collision_id`

In [7]:
# Compare total records vs unique records
total_records_column = collision_df.columns.get_loc('collision_id')
total_records = collision_df[collision_df.columns[total_records_column]].count()

unique_count = collision_df['collision_id'].nunique()

if unique_count == total_records:
    print(f"✅ All {total_records} records are unique.")
else:
    print(f"⚠️ Not all {total_records} records are unique. There are {total_records - unique_count} repeated records.\nProcessing removal.\nFinal count: {unique_count}")

    # Empty Dataframe for handling duplicates
    duplicates_df = pd.DataFrame(None)

    # Here are repeated records
    duplicates_df = collision_df[collision_df.duplicated(subset=['collision_id'], keep=False)].sort_values(by='collision_id')

    # Duplicates df to csv
    print(f"CSV generated with duplicates")
    duplicates_df.to_csv('collision_data_duplicates.csv')

    # Return updated dataframe
    collision_df = collision_df.drop_duplicates(subset=['collision_id'], keep='first', inplace=False)

✅ All 500 records are unique.

### 🕐 Datatime Validation & Clean Up & Transformation - `crash_date` and `crash_time`

#### Reformat date and time

In [8]:
# crash_date
if not is_datetime64_any_dtype(collision_df['crash_date']):
    collision_df['crash_date'] = pd.to_datetime(
        collision_df['crash_date'], errors = 'coerce'
    )

# crash_time
is_time_objects = collision_df['crash_time'].dropna().map(
    lambda x: isinstance(x, dt.time)
).all()

if not is_time_objects:
    collision_df['crash_time'] = pd.to_datetime(
        collision_df['crash_time'], errors = 'coerce', format='mixed'
    ).dt.time

collision_df[['crash_date','crash_time']].head()

  crash_date crash_time
0 2021-12-10   01:10:00
1 2021-12-09   00:00:00
2 2021-12-08   18:36:00
3 2021-12-09   20:30:00
4 2021-12-09   10:13:00

#### Crate Column for Aggregate Count

In [9]:
# Create new columns to assist with time analysis
# crash_date_YM: Year-Month (YYYY-MM)

# -- test 1 -- 
# crash_date_Month: Month name (April, May, etc.)
collision_df['crash_date_YM'] = collision_df['crash_date'].dt.to_period('M')
collision_df['crash_date_Month'] = collision_df['crash_date'].dt.month_name()

# Reorder the columns for better readabilility
collision_df.insert(1, 'crash_date_YM', collision_df.pop('crash_date_YM'))
collision_df.insert(2, 'crash_date_Month', collision_df.pop('crash_date_Month'))

# Lets create categories for crash_time
collision_df['hour_classification'] = None
collision_df.insert(3, 'hour_classification', collision_df.pop('hour_classification'))


for index,row in collision_df.iterrows():
    # 11:00PM to 6:59AM = Night Time
    if row['crash_time'] >= dt.time(hour=23) or row['crash_time'] < dt.time(hour=7):
        collision_df.loc[index, 'hour_classification'] = 'Night'
    # 7:00 AM to 10:59AM = Morning
    elif row['crash_time'] >= dt.time(hour=7) or row['crash_time'] < dt.time(hour=11):
        collision_df.loc[index, 'hour_classification'] = 'Morning'
    # 11:00 AM to 1:59PM = Midday
    elif row['crash_time'] >= dt.time(hour=11) or row['crash_time'] < dt.time(hour=14):
        collision_df.loc[index, 'hour_classification'] = 'Midday'
    # 2:00 PM to 6:59PM = Afternoon
    elif row['crash_time'] >= dt.time(hour=14) or row['crash_time'] < dt.time(hour=19):
        collision_df.loc[index, 'hour_classification'] = 'Midday'
    else:
        # 7:00 PM to 10:59PM = Evening
        collision_df.loc[index, 'hour_classification'] = 'Evening'

# Lets make time readable to the normal user
collision_df['crash_time_fmat_12hr'] = collision_df['crash_time'].apply(lambda x: x.strftime('%I:%M %p'))
collision_df.insert(3, 'crash_time_fmat_12hr', collision_df.pop('crash_time_fmat_12hr'))

# Preview these new columns
collision_df.head()

,crash_date,crash_date_YM,crash_date_Month,crash_time_fmat_12hr,hour_classification,crash_time,borough,zip_code,latitude,longitude,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2021-12-10,2021-12,December,01:10 AM,Night,01:10:00,NaN,NaN,40.662575,-73.93448,...,Unspecified,NaN,NaN,NaN,4485706,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
1,2021-12-09,2021-12,December,12:00 AM,Night,00:00:00,NaN,NaN,40.7448,-73.953415,...,NaN,NaN,NaN,NaN,4485384,Sedan,NaN,NaN,NaN,NaN
2,2021-12-08,2021-12,December,06:36 PM,Morning,18:36:00,NaN,NaN,40.79672,-73.97618,...,Unspecified,NaN,NaN,NaN,4484799,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
3,2021-12-09,2021-12,December,08:30 PM,Morning,20:30:00,QUEENS,11004,40.752777,-73.70743,...,NaN,NaN,NaN,NaN,4485077,Sedan,NaN,NaN,NaN,NaN
4,2021-12-09,2021-12,December,10:13 AM,Morning,10:13:00,BROOKLYN,11203,40.638523,-73.92607,...,Traffic Control Disregarded,NaN,NaN,NaN,4485090,Sedan,Sedan,NaN,NaN,NaN

#### Collisions by Year-Month

In [10]:
# collision_data['crash_date_YM'] = collision_data['crash_date'].dt.to_period('M')
year_month_count = collision_df.groupby(['crash_date_YM','crash_date_Month']).size()
year_month_count.to_csv('year_month_count.csv', index=True)

# Print snippet of analytics
year_month_count.head()

crash_date_YM  crash_date_Month
2019-05        May                   1
2020-01        January               1
2021-02        February              1
2021-03        March                 2
2021-04        April               133
dtype: int64

### 📍 Location Validation

#### Check if Lat, Long are Missing

In [11]:
geo_columns_to_check =  ['latitude', 'longitude']

missing_column = False
for col in geo_columns_to_check:
    if collision_df[col].isnull().any():
        missing_column = True
        print(f"❌ Missing values found in column: {col}")
    else:
        print(f"✅ No missing values in column: {col}")

❌ Missing values found in column: latitude
❌ Missing values found in column: longitude

#### New Lat and Long

In [12]:
# Ensure the columns lat and long are correct data types
collision_df['latitude'] = pd.to_numeric(collision_df['latitude'], errors='coerce').astype(float)
collision_df['longitude'] = pd.to_numeric(collision_df['longitude'], errors='coerce').astype(float)

# Craete flag for missing lat/long
collision_df['flag_orig_latlong_missing'] = False
collision_df['Lat_x'] = np.nan
collision_df['Lon_y'] = np.nan

# Check for missing lat/long and set flag
for index,row in collision_df.iterrows():
    if pd.isna(row['latitude']) or pd.isna(row['longitude']) or row['latitude'] == 0 or row['longitude'] == 0:
        collision_df.loc[index, "flag_orig_latlong_missing"] = True
        print(f"❌ Missing lat/long at index {index}, {row['collision_id']}: {row['latitude']}, {row['longitude']}")
    else:
        print(f"✅ Lat/Long found at at index {index}, {row['collision_id']}: {row['latitude']}, {row['longitude']}")
        collision_df.loc[index, "Lat_x"] = collision_df.loc[index, 'latitude']
        collision_df.loc[index, "Lon_y"] = collision_df.loc[index, 'longitude']

# Remove original lat/long columns
collision_df.drop(columns=['latitude', 'longitude'], axis=1, inplace=True)

✅ Lat/Long found at at index 0, 4485706: 40.662575, -73.93448
✅ Lat/Long found at at index 1, 4485384: 40.7448, -73.953415
✅ Lat/Long found at at index 2, 4484799: 40.79672, -73.97618
✅ Lat/Long found at at index 3, 4485077: 40.752777, -73.70743
✅ Lat/Long found at at index 4, 4485090: 40.638523, -73.92607
✅ Lat/Long found at at index 5, 4513697: 40.637833, -74.08193
✅ Lat/Long found at at index 6, 4513935: 40.797836, -73.96946
✅ Lat/Long found at at index 7, 4513794: 40.734375, -73.87342
✅ Lat/Long found at at index 8, 4514267: 40.699947, -73.736626
✅ Lat/Long found at at index 9, 4514237: 40.75632, -73.999275
✅ Lat/Long found at at index 10, 4513470: 40.69614, -73.81789
✅ Lat/Long found at at index 11, 4513751: 40.631687, -73.9205
✅ Lat/Long found at at index 12, 4514075: 40.88839, -73.84666
✅ Lat/Long found at at index 13, 4513857: 40.844425, -73.8639
✅ Lat/Long found at at index 14, 4514202: 40.833965, -73.8629
✅ Lat/Long found at at index 15, 4514347: 40.705738, -73.944695
✅ Lat/Long found at at index 16, 4513495: 40.637905, -73.8878
✅ Lat/Long found at at index 17, 4513874: 40.635063, -73.94788
✅ Lat/Long found at at index 18, 4514263: 40.804153, -73.91304
✅ Lat/Long found at at index 19, 4514323: 40.676403, -73.96287
✅ Lat/Long found at at index 20, 4514182: 40.829777, -73.85055
✅ Lat/Long found at at index 21, 4513515: 40.613926, -74.030174
✅ Lat/Long found at at index 22, 4513663: 40.635563, -73.89577
✅ Lat/Long found at at index 23, 4513953: 40.675167, -73.825264
✅ Lat/Long found at at index 24, 4513985: 40.761486, -73.96061
✅ Lat/Long found at at index 25, 4514084: 40.712284, -73.964005
✅ Lat/Long found at at index 26, 4514144: 40.70546, -73.7949
✅ Lat/Long found at at index 27, 4513606: 40.74967, -73.99531
✅ Lat/Long found at at index 28, 4513564: 40.833786, -73.94037
✅ Lat/Long found at at index 29, 4514412: 40.67794, -73.8023
✅ Lat/Long found at at index 30, 4513587: 40.637985, -74.0076
❌ Missing lat/long at index 31, 4487185: nan, nan
✅ Lat/Long found at at index 32, 4513565: 40.835037, -73.93979
✅ Lat/Long found at at index 33, 4514286: 40.9046, -73.852936
✅ Lat/Long found at at index 34, 4513637: 40.742508, -73.91788
❌ Missing lat/long at index 35, 4513528: nan, nan
❌ Missing lat/long at index 36, 4514139: nan, nan
✅ Lat/Long found at at index 37, 4513833: 40.67046, -73.88788
✅ Lat/Long found at at index 38, 4513887: 40.72224, -73.9863
✅ Lat/Long found at at index 39, 4514160: 40.67639, -73.97189
✅ Lat/Long found at at index 40, 4514002: 40.88893, -73.86579
✅ Lat/Long found at at index 41, 4514152: 40.80118, -73.93975
✅ Lat/Long found at at index 42, 4513626: 40.757668, -73.95915
✅ Lat/Long found at at index 43, 4513774: 40.668896, -73.95339
✅ Lat/Long found at at index 44, 4514376: 40.63654, -73.97707
✅ Lat/Long found at at index 45, 4513982: 40.831055, -73.905846
✅ Lat/Long found at at index 46, 4514220: 40.85868, -73.89922
✅ Lat/Long found at at index 47, 4514413: 40.62466, -74.17856
✅ Lat/Long found at at index 48, 4513664: 40.63947, -73.902756
✅ Lat/Long found at at index 49, 4513725: 40.86173, -73.91182
✅ Lat/Long found at at index 50, 4514298: 40.69538, -73.985115
✅ Lat/Long found at at index 51, 4513573: 40.63063, -74.00923
✅ Lat/Long found at at index 52, 4514201: 40.82707, -73.87075
✅ Lat/Long found at at index 53, 4514030: 40.60548, -73.93922
✅ Lat/Long found at at index 54, 4514125: 40.692593, -73.91551
❌ Missing lat/long at index 55, 4514194: nan, nan
✅ Lat/Long found at at index 56, 4514278: 40.680664, -73.902626
✅ Lat/Long found at at index 57, 4513803: 40.645718, -73.95002
✅ Lat/Long found at at index 58, 4514241: 40.68327, -73.95016
✅ Lat/Long found at at index 59, 4487210: 40.84036, -73.91807
❌ Missing lat/long at index 60, 4407811: nan, nan
❌ Missing lat/long at index 61, 4456746: nan, nan
✅ Lat/Long found at at index 62, 4513878: 40.577652, -73.96344
✅ Lat/Long found at at index 63, 4513735: 40.730145, -73.99781
✅ Lat/Long found at at index 64, 4513958: 40.67478, -73.806206
✅ Lat/Long found at at index 65, 4514367: 40.624622, -73.97598
✅ Lat/Long found at at index 66, 4513681: 40.67271, -73.97089
✅ Lat/Long found at at index 67, 4514212: 40.7314, -73.926094
✅ Lat/Long found at at index 68, 4514420: 40.632786, -74.13712
✅ Lat/Long found at at index 69, 4513923: 40.596733, -74.07045
✅ Lat/Long found at at index 70, 4513752: 40.617645, -73.92092
❌ Missing lat/long at index 71, 4513924: nan, nan
✅ Lat/Long found at at index 72, 4513860: 40.68651, -73.98378
✅ Lat/Long found at at index 73, 4514251: 40.69831, -73.9498
✅ Lat/Long found at at index 74, 4513478: 40.692455, -73.76814
✅ Lat/Long found at at index 75, 4514302: 40.778805, -73.974075
✅ Lat/Long found at at index 76, 4513708: 40.747894, -73.989174
✅ Lat/Long found at at index 77, 4514189: 40.83578, -73.871445
✅ Lat/Long found at at index 78, 4514419: 40.61763, -74.133575
✅ Lat/Long found at at index 79, 4514234: 40.731407, -73.99698
✅ Lat/Long found at at index 80, 4513496: 40.60784, -73.961975
✅ Lat/Long found at at index 81, 4514266: 40.752563, -73.74328
✅ Lat/Long found at at index 82, 4513680: 40.67848, -73.98232
✅ Lat/Long found at at index 83, 4513861: 40.629475, -74.004166
✅ Lat/Long found at at index 84, 4514326: 40.668797, -73.93113
✅ Lat/Long found at at index 85, 4513739: 40.754707, -73.99164
✅ Lat/Long found at at index 86, 4514180: 40.85713, -73.8808
✅ Lat/Long found at at index 87, 4514209: 40.857418, -73.89996
✅ Lat/Long found at at index 88, 4513795: 40.702972, -73.888054
✅ Lat/Long found at at index 89, 4514297: 40.786366, -73.97598
✅ Lat/Long found at at index 90, 4513572: 40.624474, -74.00668
✅ Lat/Long found at at index 91, 4513591: 40.76532, -73.771904
✅ Lat/Long found at at index 92, 4514011: 40.597683, -73.96686
✅ Lat/Long found at at index 93, 4513701: 40.609768, -74.06969
✅ Lat/Long found at at index 94, 4514155: 40.798286, -73.938705
✅ Lat/Long found at at index 95, 4514334: 40.776764, -73.848015
✅ Lat/Long found at at index 96, 4513548: 40.747498, -73.91309
✅ Lat/Long found at at index 97, 4514046: 40.701637, -73.942276
✅ Lat/Long found at at index 98, 4513581: 40.69349, -73.826546
✅ Lat/Long found at at index 99, 4513772: 40.726463, -73.85943
✅ Lat/Long found at at index 100, 4514221: 40.856434, -73.886826
✅ Lat/Long found at at index 101, 4514277: 40.87151, -73.87057
✅ Lat/Long found at at index 102, 4514166: 40.68686, -73.96758
✅ Lat/Long found at at index 103, 4513691: 40.624763, -73.96518
✅ Lat/Long found at at index 104, 4513782: 40.678417, -73.729225
✅ Lat/Long found at at index 105, 4514390: 40.692596, -73.79078
✅ Lat/Long found at at index 106, 4514215: 40.734486, -73.891754
✅ Lat/Long found at at index 107, 4513994: 40.88399, -73.82641
✅ Lat/Long found at at index 108, 4513503: 40.683872, -73.95998
✅ Lat/Long found at at index 109, 4514151: 40.799484, -73.92929
✅ Lat/Long found at at index 110, 4513655: 40.70839, -74.00482
✅ Lat/Long found at at index 111, 4514070: 40.766502, -73.99418
✅ Lat/Long found at at index 112, 4513952: 40.676304, -73.816284
✅ Lat/Long found at at index 113, 4513827: 40.66447, -73.89593
✅ Lat/Long found at at index 114, 4514285: 40.709835, -74.014885
✅ Lat/Long found at at index 115, 4521782: 40.585342, -73.94157
✅ Lat/Long found at at index 116, 4457012: 40.746395, -73.9856
✅ Lat/Long found at at index 117, 4457022: 40.617004, -73.96912
✅ Lat/Long found at at index 118, 4456987: 40.718662, -74.00615
✅ Lat/Long found at at index 119, 4456970: 40.680664, -73.97028
✅ Lat/Long found at at index 120, 4485574: 40.67392, -73.91012
✅ Lat/Long found at at index 121, 4485894: 40.806835, -73.924355
✅ Lat/Long found at at index 122, 4485637: 40.627735, -73.920105
❌ Missing lat/long at index 123, 4484930: 0.0, 0.0
✅ Lat/Long found at at index 124, 4484996: 40.661263, -73.955765
✅ Lat/Long found at at index 125, 4484861: 40.844883, -73.907295
✅ Lat/Long found at at index 126, 4485177: 40.76104, -73.88162
✅ Lat/Long found at at index 127, 4485316: 40.669777, -73.9583
✅ Lat/Long found at at index 128, 4485668: 40.839443, -73.90436
✅ Lat/Long found at at index 129, 4485385: 40.75245, -73.94507
✅ Lat/Long found at at index 130, 4484892: 40.687748, -73.980125
✅ Lat/Long found at at index 131, 4485246: 40.87356, -73.81853
✅ Lat/Long found at at index 132, 4485893: 40.8176, -73.90373
✅ Lat/Long found at at index 133, 4485586: 40.638428, -73.91275
✅ Lat/Long found at at index 134, 4485696: 40.813885, -73.95211
❌ Missing lat/long at index 135, 4485123: nan, nan
✅ Lat/Long found at at index 136, 4485914: 40.77733, -73.95456
✅ Lat/Long found at at index 137, 4485304: 40.713135, -74.00407
✅ Lat/Long found at at index 138, 4485055: 40.775486, -73.98217
✅ Lat/Long found at at index 139, 4485539: 40.591137, -73.97752
✅ Lat/Long found at at index 140, 4485241: 40.865536, -73.92728
✅ Lat/Long found at at index 141, 4485153: 40.76551, -73.97795
✅ Lat/Long found at at index 142, 4484897: 40.63311, -73.97217
✅ Lat/Long found at at index 143, 4456035: 40.823772, -73.87245
✅ Lat/Long found at at index 144, 4456704: 40.84497, -73.90247
❌ Missing lat/long at index 145, 4456122: nan, nan
✅ Lat/Long found at at index 146, 4456919: 40.675507, -74.00075
✅ Lat/Long found at at index 147, 4456686: 40.609535, -73.75372
✅ Lat/Long found at at index 148, 4456588: 40.730446, -74.00431
✅ Lat/Long found at at index 149, 4456879: 40.721645, -73.8026
✅ Lat/Long found at at index 150, 4456573: 40.853477, -73.82622
✅ Lat/Long found at at index 151, 4455749: 40.66901, -73.80265
✅ Lat/Long found at at index 152, 4456087: 40.629475, -74.1123
✅ Lat/Long found at at index 153, 4456941: 40.6843, -73.99724
✅ Lat/Long found at at index 154, 4456691: 40.767612, -73.950005
✅ Lat/Long found at at index 155, 4456765: 40.80066, -73.9544
✅ Lat/Long found at at index 156, 4456435: 40.87645, -73.848175
✅ Lat/Long found at at index 157, 4456181: 40.737865, -73.876144
✅ Lat/Long found at at index 158, 4456550: 40.764103, -73.93277
✅ Lat/Long found at at index 159, 4456615: 40.66735, -73.76994
✅ Lat/Long found at at index 160, 4456647: 40.824265, -73.95642
✅ Lat/Long found at at index 161, 4455820: 40.702045, -73.9156
✅ Lat/Long found at at index 162, 4456845: 40.85306, -73.931
❌ Missing lat/long at index 163, 4456191: 0.0, 0.0
✅ Lat/Long found at at index 164, 4456586: 40.697315, -73.932274
✅ Lat/Long found at at index 165, 4456718: 40.679344, -73.859535
✅ Lat/Long found at at index 166, 4456821: 40.708923, -73.81877
✅ Lat/Long found at at index 167, 4456608: 40.60203, -74.09572
✅ Lat/Long found at at index 168, 4456531: 40.693787, -73.81173
✅ Lat/Long found at at index 169, 4455832: 40.826767, -73.888855
✅ Lat/Long found at at index 170, 4456735: 40.56692, -74.116234
❌ Missing lat/long at index 171, 4408019: nan, nan
✅ Lat/Long found at at index 172, 4456734: 40.623913, -74.00726
✅ Lat/Long found at at index 173, 4455983: 40.592422, -73.99508
✅ Lat/Long found at at index 174, 4456323: 40.6783, -73.88988
✅ Lat/Long found at at index 175, 4456889: 40.748962, -73.89176
✅ Lat/Long found at at index 176, 4456679: 40.631508, -73.90506
✅ Lat/Long found at at index 177, 4456373: 40.677322, -73.790955
✅ Lat/Long found at at index 178, 4513885: 40.57666, -73.965836
✅ Lat/Long found at at index 179, 4456758: 40.804585, -73.94782
✅ Lat/Long found at at index 180, 4456498: 40.832916, -73.92939
✅ Lat/Long found at at index 181, 4455941: 40.722515, -73.73332
✅ Lat/Long found at at index 182, 4456778: 40.692127, -73.83484
✅ Lat/Long found at at index 183, 4455883: 40.807537, -73.8798
✅ Lat/Long found at at index 184, 4456627: 40.878128, -73.86944
✅ Lat/Long found at at index 185, 4456640: 40.75777, -73.854164
✅ Lat/Long found at at index 186, 4456812: 40.6569, -73.907486
✅ Lat/Long found at at index 187, 4455924: 40.845024, -73.92632
✅ Lat/Long found at at index 188, 4455894: 40.817795, -73.89319
✅ Lat/Long found at at index 189, 4456596: 40.81915, -73.93062
✅ Lat/Long found at at index 190, 4456742: 40.591778, -74.12734
✅ Lat/Long found at at index 191, 4455969: 40.753994, -73.94244
✅ Lat/Long found at at index 192, 4455841: 40.724846, -73.999
❌ Missing lat/long at index 193, 4456497: nan, nan
✅ Lat/Long found at at index 194, 4456711: 40.822933, -73.93813
✅ Lat/Long found at at index 195, 4456154: 40.680477, -73.951164
✅ Lat/Long found at at index 196, 4456204: 40.648243, -73.929
✅ Lat/Long found at at index 197, 4456683: 40.64366, -73.90067
✅ Lat/Long found at at index 198, 4456696: 40.6843, -73.94121
✅ Lat/Long found at at index 199, 4456521: 40.602425, -74.091354
✅ Lat/Long found at at index 200, 4456865: 40.662037, -73.95077
✅ Lat/Long found at at index 201, 4456389: 40.68164, -73.98568
✅ Lat/Long found at at index 202, 4456512: 40.781315, -73.94614
✅ Lat/Long found at at index 203, 4455860: 40.74498, -73.89325
✅ Lat/Long found at at index 204, 4456782: 40.6117, -74.13918
✅ Lat/Long found at at index 205, 4455949: 40.616295, -73.92991
✅ Lat/Long found at at index 206, 4456097: 40.78322, -73.84586
✅ Lat/Long found at at index 207, 4456623: 40.87122, -73.83709
✅ Lat/Long found at at index 208, 4456775: 40.680077, -73.852684
✅ Lat/Long found at at index 209, 4456664: 40.843384, -73.88987
✅ Lat/Long found at at index 210, 4456370: 40.680023, -73.794624
✅ Lat/Long found at at index 211, 4456567: 40.72937, -73.955444
✅ Lat/Long found at at index 212, 4456628: 40.683754, -73.88565
✅ Lat/Long found at at index 213, 4456844: 40.70413, -73.76984
✅ Lat/Long found at at index 214, 4455985: 40.609985, -73.96239
✅ Lat/Long found at at index 215, 4456655: 40.673676, -73.86576
✅ Lat/Long found at at index 216, 4456058: 40.751442, -73.97606
✅ Lat/Long found at at index 217, 4456600: 40.86514, -73.801544
✅ Lat/Long found at at index 218, 4455907: 40.72218, -73.84406
✅ Lat/Long found at at index 219, 4456549: 40.797924, -73.9296
✅ Lat/Long found at at index 220, 4456897: 40.626373, -73.99754
✅ Lat/Long found at at index 221, 4456407: 40.883133, -73.882095
✅ Lat/Long found at at index 222, 4456480: 40.90222, -73.85589
✅ Lat/Long found at at index 223, 4456829: 40.72717, -73.78739
✅ Lat/Long found at at index 224, 4456660: 40.600792, -73.76711
✅ Lat/Long found at at index 225, 4456715: 40.84434, -73.91475
✅ Lat/Long found at at index 226, 4408080: 40.67922, -73.90405
✅ Lat/Long found at at index 227, 4456543: 40.802982, -73.93815
✅ Lat/Long found at at index 228, 4456592: 40.731544, -73.955315
✅ Lat/Long found at at index 229, 4456140: 40.683323, -73.80648
✅ Lat/Long found at at index 230, 4456577: 40.732006, -73.95795
✅ Lat/Long found at at index 231, 4456200: 40.6544, -73.92044
✅ Lat/Long found at at index 232, 4456687: 40.589592, -73.786385
✅ Lat/Long found at at index 233, 4456076: 40.736164, -73.97891
✅ Lat/Long found at at index 234, 4456692: 40.59723, -73.76237
✅ Lat/Long found at at index 235, 4456921: 40.67393, -73.999954
✅ Lat/Long found at at index 236, 4456350: 40.840153, -73.88572
✅ Lat/Long found at at index 237, 4456751: 40.599503, -74.067116
✅ Lat/Long found at at index 238, 4456619: 40.822456, -73.868065
✅ Lat/Long found at at index 239, 4456001: 40.59841, -73.97592
✅ Lat/Long found at at index 240, 4456560: 40.697083, -73.85476
✅ Lat/Long found at at index 241, 4456632: 40.896385, -73.87246
✅ Lat/Long found at at index 242, 4456853: 40.695637, -73.80372
✅ Lat/Long found at at index 243, 4456250: 40.69982, -73.996254
✅ Lat/Long found at at index 244, 4456750: 40.590313, -74.09794
✅ Lat/Long found at at index 245, 4456089: 40.787544, -73.82394
✅ Lat/Long found at at index 246, 4456279: 40.67539, -73.88113
✅ Lat/Long found at at index 247, 4456768: 40.634007, -74.07516
✅ Lat/Long found at at index 248, 4456183: 40.73844, -73.88628
✅ Lat/Long found at at index 249, 4456582: 40.60855, -74.13216
✅ Lat/Long found at at index 250, 4456789: 40.58573, -74.16865
✅ Lat/Long found at at index 251, 4455757: 40.599907, -73.94664
✅ Lat/Long found at at index 252, 4456604: 40.806713, -73.93782
✅ Lat/Long found at at index 253, 4457032: 40.748318, -73.87742
✅ Lat/Long found at at index 254, 4456651: 40.68651, -73.76815
❌ Missing lat/long at index 255, 4456045: nan, nan
✅ Lat/Long found at at index 256, 4456537: 40.624203, -74.177124
✅ Lat/Long found at at index 257, 4456646: 40.744526, -73.77161
✅ Lat/Long found at at index 258, 4456631: 40.576965, -74.16974
✅ Lat/Long found at at index 259, 4456572: 40.8502, -73.8302
✅ Lat/Long found at at index 260, 4456851: 40.715477, -73.998085
✅ Lat/Long found at at index 261, 4455822: 40.611477, -73.94883
✅ Lat/Long found at at index 262, 4456587: 40.681515, -73.90412
✅ Lat/Long found at at index 263, 4455993: 40.61578, -73.99995
✅ Lat/Long found at at index 264, 4456721: 40.82207, -73.94993
✅ Lat/Long found at at index 265, 4456186: 40.74606, -73.85583
✅ Lat/Long found at at index 266, 4456819: 40.72013, -73.79038
✅ Lat/Long found at at index 267, 4456609: 40.688435, -73.78765
✅ Lat/Long found at at index 268, 4456078: 40.84964, -73.89661
✅ Lat/Long found at at index 269, 4456529: 40.68329, -73.85491
✅ Lat/Long found at at index 270, 4456726: 40.812912, -73.95364
✅ Lat/Long found at at index 271, 4456558: 40.6639, -73.7804
✅ Lat/Long found at at index 272, 4456705: 40.59312, -73.772705
❌ Missing lat/long at index 273, 4456123: nan, nan
✅ Lat/Long found at at index 274, 4456673: 40.596687, -73.74422
❌ Missing lat/long at index 275, 4456641: nan, nan
✅ Lat/Long found at at index 276, 4456599: 40.673107, -73.99959
✅ Lat/Long found at at index 277, 4456688: 40.63874, -73.8952
✅ Lat/Long found at at index 278, 4455904: 40.675255, -73.73207
✅ Lat/Long found at at index 279, 4455927: 40.846313, -73.92385
✅ Lat/Long found at at index 280, 4456395: 40.608364, -73.95727
❌ Missing lat/long at index 281, 4456745: nan, nan
✅ Lat/Long found at at index 282, 4456636: 40.682724, -73.88539
✅ Lat/Long found at at index 283, 4456036: 40.80789, -73.852844
✅ Lat/Long found at at index 284, 4456785: 40.607754, -74.13205
❌ Missing lat/long at index 285, 4456517: nan, nan
✅ Lat/Long found at at index 286, 4456764: 40.708324, -73.84314
✅ Lat/Long found at at index 287, 4456791: 40.79194, -73.95281
✅ Lat/Long found at at index 288, 4456614: 40.718792, -73.98902
✅ Lat/Long found at at index 289, 4455863: 40.86463, -73.892136
✅ Lat/Long found at at index 290, 4456313: 40.67856, -73.889015
✅ Lat/Long found at at index 291, 4456409: 40.721474, -73.98383
✅ Lat/Long found at at index 292, 4455916: 40.79184, -73.93556
✅ Lat/Long found at at index 293, 4456096: 40.78076, -73.825424
✅ Lat/Long found at at index 294, 4456878: 40.7359, -73.91338
❌ Missing lat/long at index 295, 4456568: nan, nan
✅ Lat/Long found at at index 296, 4456953: 40.710697, -73.984634
✅ Lat/Long found at at index 297, 4456522: 40.760777, -73.95702
✅ Lat/Long found at at index 298, 4456700: 40.81358, -73.89385
✅ Lat/Long found at at index 299, 4456023: 40.575302, -73.98453
✅ Lat/Long found at at index 300, 4456810: 40.66843, -73.91919
✅ Lat/Long found at at index 301, 4456105: 40.81701, -73.9595
✅ Lat/Long found at at index 302, 4456668: 40.85755, -73.882835
✅ Lat/Long found at at index 303, 4456867: 40.89711, -73.88008
✅ Lat/Long found at at index 304, 4456988: 40.685795, -73.911644
✅ Lat/Long found at at index 305, 4456859: 40.69305, -73.799446
✅ Lat/Long found at at index 306, 4456663: 40.609535, -73.75372
✅ Lat/Long found at at index 307, 4456624: 40.720627, -74.00522
✅ Lat/Long found at at index 308, 4456563: 40.763496, -73.87814
✅ Lat/Long found at at index 309, 4456656: 40.686646, -73.849075
✅ Lat/Long found at at index 310, 4456388: 40.579445, -73.9544
✅ Lat/Long found at at index 311, 4456757: 40.762966, -73.973976
✅ Lat/Long found at at index 312, 4455827: 40.76555, -73.83911
✅ Lat/Long found at at index 313, 4456511: 40.779602, -73.95553
✅ Lat/Long found at at index 314, 4456741: 40.553192, -74.164345
✅ Lat/Long found at at index 315, 4455973: 40.836094, -73.883995
✅ Lat/Long found at at index 316, 4456695: 40.59692, -73.94122
✅ Lat/Long found at at index 317, 4456420: 40.62318, -73.98611
✅ Lat/Long found at at index 318, 4456317: 40.67562, -73.88826

#### Indicate Number of Usable Records

In [13]:
# Count the records we cannot use for our final analysis
records_bad_latlon = collision_df[collision_df['flag_orig_latlong_missing'] == True].shape[0]
total_records = collision_df.shape[0]
usable_records = total_records - records_bad_latlon

# Output the number of usable records
if records_bad_latlon > 0:
    print(f"🧠 Based on location cleanup, we are able to perform an analysis on {usable_records} records. There were {records_bad_latlon} records which were omitted from the analysis due to improper capture of latitude and longitude by source.")
    # Generate CSV with flags for these missing lat/long records
    collision_df[collision_df['flag_orig_latlong_missing'] == True].to_csv('BADDATA_latlon.csv', index=True)

    # Override collision_df with usable records
    collision_df = collision_df[collision_df['flag_orig_latlong_missing'] == False]
else:
    print(f"✅ All {total_records} records are usable for analysis.")

🧠 Based on location cleanup, we are able to perform an analysis on 468 records. There were 32 records which were omitted from the analysis due to improper capture of latitude and longitude by source.

### Merge Contributing Factors & Vehicle Type Into Individual Lsits

In [14]:
def remove_duplicates_from_list(input_list):
    return list(pd.unique(pd.Series(input_list)))

# Combine contributing factors into a single list
collision_df['combined_contributing_factors'] = collision_df.apply(lambda row:
                                  list(filter(None, [
                                      row['contributing_factor_vehicle_1'],
                                      row['contributing_factor_vehicle_2'],
                                      row['contributing_factor_vehicle_3'],
                                      row['contributing_factor_vehicle_4'],
                                      row['contributing_factor_vehicle_5']
                                  ]))
                                  , axis=1)

# Remove duplicates from the lists
collision_df['combined_contributing_factors'] = collision_df['combined_contributing_factors'].apply(remove_duplicates_from_list)

# Combine vehicle types into a single list
collision_df['combined_vehicle_types'] = collision_df.apply(lambda row:
                                  list(filter(None, [
                                      row['vehicle_type_code1'],
                                      row['vehicle_type_code2'],
                                      row['vehicle_type_code_3'],
                                      row['vehicle_type_code_4'],
                                      row['vehicle_type_code_5']
                                  ]))
                                  , axis=1)

# Remove duplicates from the lists
collision_df['combined_vehicle_types'] = collision_df['combined_vehicle_types'].apply(remove_duplicates_from_list)

# Drop the original columns now that we have combined lists
collision_df.drop(columns=[
    'contributing_factor_vehicle_1', 
    'contributing_factor_vehicle_2',
    'contributing_factor_vehicle_3', 
    'contributing_factor_vehicle_4',
    'contributing_factor_vehicle_5', 
    'vehicle_type_code1',
    'vehicle_type_code2', 
    'vehicle_type_code_3', 
    'vehicle_type_code_4',
    'vehicle_type_code_5'
], axis=1, inplace=True)

# Remove 'Unspecified', 'nan', None, '' from the lists
remove_set = {'Unspecified', 'nan', None, '', 'unspecified' }


def clean_list(input_list):
    return [x for x in input_list if x not in remove_set and not pd.isna(x)]

collision_df['combined_contributing_factors'] = collision_df['combined_contributing_factors'].apply(clean_list)

collision_df['combined_vehicle_types'] = collision_df['combined_vehicle_types'].apply(clean_list)

collision_df.head()

,crash_date,crash_date_YM,crash_date_Month,crash_time_fmat_12hr,hour_classification,crash_time,borough,zip_code,location,on_street_name,...,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,collision_id,flag_orig_latlong_missing,Lat_x,Lon_y,combined_contributing_factors,combined_vehicle_types
0,2021-12-10,2021-12,December,01:10 AM,Night,01:10:00,NaN,NaN,"{'latitude': '40.662575', 'longitude': '-73.93...",SCHENECTADY AVENUE,...,0,0,0,0,4485706,False,40.662575,-73.934480,[Driver Inattention/Distraction],"[Station Wagon/Sport Utility Vehicle, Sedan]"
1,2021-12-09,2021-12,December,12:00 AM,Night,00:00:00,NaN,NaN,"{'latitude': '40.7448', 'longitude': '-73.9534...",47 ROAD,...,0,0,0,0,4485384,False,40.744800,-73.953415,[],[Sedan]
2,2021-12-08,2021-12,December,06:36 PM,Morning,18:36:00,NaN,NaN,"{'latitude': '40.79672', 'longitude': '-73.976...",HENRY HUDSON PARKWAY,...,0,0,0,0,4484799,False,40.796720,-73.976180,[Passing or Lane Usage Improper],"[Sedan, Station Wagon/Sport Utility Vehicle]"
3,2021-12-09,2021-12,December,08:30 PM,Morning,20:30:00,QUEENS,11004,"{'latitude': '40.752777', 'longitude': '-73.70...",NaN,...,0,0,0,0,4485077,False,40.752777,-73.707430,[Illnes],[Sedan]
4,2021-12-09,2021-12,December,10:13 AM,Morning,10:13:00,BROOKLYN,11203,"{'latitude': '40.638523', 'longitude': '-73.92...",KINGS HIGHWAY,...,0,0,2,0,4485090,False,40.638523,-73.926070,[Traffic Control Disregarded],[Sedan]

### Output Cleaned Collision Data to DF

In [15]:
collision_df.to_csv('FINAL_collision_data.csv', index=False)